In [0]:
from pyspark.sql import Row

In [0]:
import datetime
users = [
    {
        "id" : 1,
        "first_name" : "Corrie",
        "last_name" : "van den oord",
        "email" : "cvandenoord@esty.com",
        "phone_numbers" : Row(mobile="+1 234 567 8901", home="+1 234 567 8911"),
        "courses" : [1,2],
        "is_customer" : True,
        "amount_paid" : 1000.55,
        "customer_from" : datetime.date(2021,1,15),
        "last_updated_ts" : datetime.datetime(2021,2,10,1,15,0)
    },
    {
        "id" : 2,
        "first_name" : "Nikolas",
        "last_name" : "Brewwit",
        "email" : "nbrewwit@dailymail.co.uk",
        "phone_numbers" : Row(mobile="+1 234 567 8923", home="+1 234 567 8934"),
        "courses" : [3],
        "is_customer" : True,
        "amount_paid" : 900.00,
        "customer_from" : datetime.date(2021,2,14),
        "last_updated_ts" : datetime.datetime(2021,2,18,3,33,0)
    },
    {
        "id" : 3,
        "first_name" : "Orelie",
        "last_name" : "Penney",
        "email" : "openny@vistaprint.com",
        "phone_numbers" : Row(mobile="+1 714 512 9752", home="+1 714512 6601"),
        "courses" : [2,4],
        "is_customer" : True,
        "amount_paid" : 850.55,
        "customer_from" : datetime.date(2021,1,21),
        "last_updated_ts" : datetime.datetime(2021,3,15,15,16,0)
    },
    {
        "id" : 4,
        "first_name" : "Ashiby",
        "last_name" : "Maddocks",
        "email" : "ammaddocks3@home.com",
        "phone_numbers" : Row(mobile=None, home=None),
        "courses" : [],
        "is_customer" : False,
        "amount_paid" : None,
        "customer_from" : None,
        "last_updated_ts" : datetime.datetime(2021,4,10,17,45,30)
    },
    {
        "id" : 5,
        "first_name" : "kurt",
        "last_name" : "Rome",
        "email" : "krome@shutterfly.com",
        "phone_numbers" : Row(mobile="+1 817 934 7142", home=None),
        "courses" : [],
        "is_customer" : False,
        "amount_paid" : None,
        "customer_from" : None,
        "last_updated_ts" : datetime.datetime(2021,4,2,0,55,28)
    },

]

In [0]:
import pandas as pd

In [0]:
pd.DataFrame(users)

,id,first_name,last_name,email,phone_numbers,courses,is_customer,amount_paid,customer_from,last_updated_ts
0,1,Corrie,van den oord,cvandenoord@esty.com,"(+1 234 567 8901, +1 234 567 8911)","[1, 2]",True,1000.55,2021-01-15,2021-02-10 01:15:00
1,2,Nikolas,Brewwit,nbrewwit@dailymail.co.uk,"(+1 234 567 8923, +1 234 567 8934)",[3],True,900.00,2021-02-14,2021-02-18 03:33:00
2,3,Orelie,Penney,openny@vistaprint.com,"(+1 714 512 9752, +1 714512 6601)","[2, 4]",True,850.55,2021-01-21,2021-03-15 15:16:00
3,4,Ashiby,Maddocks,ammaddocks3@home.com,"(None, None)",[],False,NaN,None,2021-04-10 17:45:30
4,5,kurt,Rome,krome@shutterfly.com,"(+1 817 934 7142, None)",[],False,NaN,None,2021-04-02 00:55:28

In [0]:
spark.createDataFrame(pd.DataFrame(users))

DataFrame[id: bigint, first_name: string, last_name: string, email: string, phone_numbers: struct<mobile:string,home:string>, courses: array<bigint>, is_customer: boolean, amount_paid: double, customer_from: date, last_updated_ts: timestamp]

In [0]:
users_df.show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.show(3, truncate=False)

+---+----------+------------+------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|id |first_name|last_name   |email                   |phone_numbers                     |courses|is_customer|amount_paid|customer_from|last_updated_ts    |
+---+----------+------------+------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
|1  |Corrie    |van den oord|cvandenoord@esty.com    |{+1 234 567 8901, +1 234 567 8911}|[1, 2] |true       |1000.55    |2021-01-15   |2021-02-10 01:15:00|
|2  |Nikolas   |Brewwit     |nbrewwit@dailymail.co.uk|{+1 234 567 8923, +1 234 567 8934}|[3]    |true       |900.0      |2021-02-14   |2021-02-18 03:33:00|
|3  |Orelie    |Penney      |openny@vistaprint.com   |{+1 714 512 9752, +1 714512 6601} |[2, 4] |true       |850.55     |2021-01-21   |2021-03-15 15:16:00|
+---+----------+------------+------------------------+----------------------------------+-------+-----------+-----------+-------------+-------------------+
only showing top 3 rows

In [0]:
users_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_numbers: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- courses: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_from: date (nullable = true)
 |-- last_updated_ts: timestamp (nullable = true)

In [0]:
users_df.filter('amount_paid=900').show()

+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  2|   Nikolas|  Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.filter(users_df['amount_paid']==900).show()

+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  2|   Nikolas|  Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
+---+----------+---------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.filter(users_df['amount_paid']>900).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
from pyspark.sql.functions import col

In [0]:
type(col('amount_paid')), type('amount_paid')

(pyspark.sql.column.Column, str)

In [0]:
users_df.filter(
    (users_df['amount_paid']>900) &
    (col('amount_paid').isNotNull())
).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
from pyspark.sql.functions import isnan

In [0]:
users_df.filter(
    (users_df['amount_paid']>100) &
    (~isnan(col('amount_paid')))
).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.select('first_name','last_name','amount_paid').show()

+----------+------------+-----------+
|first_name|   last_name|amount_paid|
+----------+------------+-----------+
|    Corrie|van den oord|    1000.55|
|   Nikolas|     Brewwit|      900.0|
|    Orelie|      Penney|     850.55|
|    Ashiby|    Maddocks|        NaN|
|      kurt|        Rome|        NaN|
+----------+------------+-----------+

In [0]:
users_df.fillna(0).show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        0.0|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        0.0|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df_new = users_df.fillna(0, subset=['amount_paid'])

In [0]:
users_df_new.show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        0.0|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        0.0|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.select('*').show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.select('id','first_name','last_name').show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|van den oord|
|  2|   Nikolas|     Brewwit|
|  3|    Orelie|      Penney|
|  4|    Ashiby|    Maddocks|
|  5|      kurt|        Rome|
+---+----------+------------+

In [0]:
users_df.select(['id','first_name','last_name']).show()

+---+----------+------------+
| id|first_name|   last_name|
+---+----------+------------+
|  1|    Corrie|van den oord|
|  2|   Nikolas|     Brewwit|
|  3|    Orelie|      Penney|
|  4|    Ashiby|    Maddocks|
|  5|      kurt|        Rome|
+---+----------+------------+

In [0]:
users_df.alias('u').select('u.*').show()

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|van den oord|cvandenoord@esty.com|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|   Nikolas|     Brewwit|nbrewwit@dailymai...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openny@vistaprint...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:00|
|  4|    Ashiby|    Maddocks|ammaddocks3@home.com|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      kurt|        Rome|krome@shutterfly.com|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:28|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
users_df.select(col('id'),
                users_df['first_name'],
                'last_name',
                users_df.is_customer,
                ).show()

+---+----------+------------+-----------+
| id|first_name|   last_name|is_customer|
+---+----------+------------+-----------+
|  1|    Corrie|van den oord|       true|
|  2|   Nikolas|     Brewwit|       true|
|  3|    Orelie|      Penney|       true|
|  4|    Ashiby|    Maddocks|      false|
|  5|      kurt|        Rome|      false|
+---+----------+------------+-----------+

In [0]:
from pyspark.sql.functions import concat,col,lit

In [0]:
users_df.select(
    col('id'),
    'first_name',
    'last_name',
    concat('first_name',lit(' ,'),'last_name').alias('full_name')
).show()

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|van den oord|Corrie ,van den oord|
|  2|   Nikolas|     Brewwit|    Nikolas ,Brewwit|
|  3|    Orelie|      Penney|      Orelie ,Penney|
|  4|    Ashiby|    Maddocks|    Ashiby ,Maddocks|
|  5|      kurt|        Rome|          kurt ,Rome|
+---+----------+------------+--------------------+

In [0]:
users_df.selectExpr('id','first_name','last_name', 'concat(first_name, ", ",last_name) as full_name').show()

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|van den oord|Corrie, van den oord|
|  2|   Nikolas|     Brewwit|    Nikolas, Brewwit|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|    Ashiby|    Maddocks|    Ashiby, Maddocks|
|  5|      kurt|        Rome|          kurt, Rome|
+---+----------+------------+--------------------+

In [0]:
users_df.createOrReplaceTempView('users')

In [0]:
spark.sql("""
    SELECT id, first_name, last_name,
    concat(first_name, ', ',last_name) as full_name
    from users
""").show()

+---+----------+------------+--------------------+
| id|first_name|   last_name|           full_name|
+---+----------+------------+--------------------+
|  1|    Corrie|van den oord|Corrie, van den oord|
|  2|   Nikolas|     Brewwit|    Nikolas, Brewwit|
|  3|    Orelie|      Penney|      Orelie, Penney|
|  4|    Ashiby|    Maddocks|    Ashiby, Maddocks|
|  5|      kurt|        Rome|          kurt, Rome|
+---+----------+------------+--------------------+

In [0]:
users_df.\
  select('id','first_name','last_name') .\
  withColumnRenamed('id','user_id') .\
  withColumnRenamed('first_name','user_first_name') .\
  withColumnRenamed('last_name','user_last_name').show()

+-------+---------------+--------------+
|user_id|user_first_name|user_last_name|
+-------+---------------+--------------+
|      1|         Corrie|  van den oord|
|      2|        Nikolas|       Brewwit|
|      3|         Orelie|        Penney|
|      4|         Ashiby|      Maddocks|
|      5|           kurt|          Rome|
+-------+---------------+--------------+

In [0]:
spark.read.csv(path = '/mnt/input/Customers.csv').show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|        _c0|   _c1|              _c2|           _c3|       _c4|               _c5|     _c6|      _c7|      _c8|       _c9|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|CustomerKey|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|  Birthday|
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
only showing top 20 rows

In [0]:
customers_df=spark.read.csv(path = '/mnt/input/Customers.csv',header= True)

In [0]:
customers_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|CustomerKey|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|  Birthday|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|  4/1/1968|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
only showing top 20 rows

In [0]:
customers_df.printSchema()

root
 |-- CustomerKey: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Birthday: string (nullable = true)

In [0]:
from pyspark.sql.types import StructType, StructField, StringType,IntegerType
schema = StructType([
    StructField("customerKey",IntegerType()),
    StructField("Gender",StringType()),
    StructField("Name",StringType()),
    StructField("City",StringType()),
    StructField("State Code",StringType()),
    StructField("State",StringType()),
    StructField("Zip Code", IntegerType()),
    StructField("Country",StringType()),
    StructField("Continet",StringType()),
    StructField("Birthday",StringType())
])

In [0]:
spark.read.csv(path = '/mnt/input/Customers.csv',header= True, schema=schema).show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|customerKey|Gender|             Name|          City|State Code|             State|Zip Code|  Country| Continet|  Birthday|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|  4/1/1968|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
only showing top 20 rows

In [0]:
spark.read.csv(path = '/mnt/input/Customers.csv',header= True, schema=schema).printSchema()

root
 |-- customerKey: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip Code: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- Continet: string (nullable = true)
 |-- Birthday: string (nullable = true)

In [0]:
customers_df=customers_df.withColumnRenamed('Customerkey','Customer_id')

In [0]:
customers_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|Customer_id|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|  Birthday|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|  4/1/1968|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col
customers_df = customers_df.withColumn('Birthdate',col('Birthday').cast('date'))

In [0]:
customers_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
|Customer_id|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|  Birthday|Birthdate|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|     NULL|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|     NULL|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|     NULL|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|     NULL|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|     NULL|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|     NULL|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|     NULL|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|     NULL|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|     NULL|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|     NULL|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|     NULL|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|     NULL|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|     NULL|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|     NULL|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|     NULL|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|     NULL|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|     NULL|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|     NULL|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|     NULL|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|  4/1/1968|     NULL|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import to_date

In [0]:
customers_df = customers_df.withColumn('Birthdate',to_date(col('Birthday'),'M/d/yyyy'))

In [0]:
customers_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
|Customer_id|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|  Birthday|Birthdate|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|  7/3/1939|     NULL|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia| 9/27/1979|     NULL|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia| 5/26/1947|     NULL|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia| 9/17/1957|     NULL|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|11/19/1965|     NULL|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia| 1/20/1954|     NULL|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|11/22/1969|     NULL|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia| 3/12/1950|     NULL|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|12/21/1965|     NULL|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia| 7/25/1975|     NULL|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia| 8/12/1990|     NULL|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|10/17/1985|     NULL|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|  3/3/1965|     NULL|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|11/22/1964|     NULL|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia| 7/10/1986|     NULL|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia| 9/22/1984|     NULL|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia| 9/20/1974|     NULL|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|10/31/1969|     NULL|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|12/15/1987|     NULL|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|  4/1/1968|     NULL|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+----------+---------+
only showing top 20 rows

In [0]:
customers_df.printSchema()

root
 |-- Customer_id: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip Code: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Continent: string (nullable = true)
 |-- Birthday: string (nullable = true)
 |-- Birthdate: date (nullable = true)

In [0]:
customers2_df=customers_df.\
drop('Birthday').\
withColumnRenamed('Birthdate','Birthday')

In [0]:
customers2_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+
|Customer_id|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|Birthday|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|    NULL|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia|    NULL|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia|    NULL|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia|    NULL|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|    NULL|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia|    NULL|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|    NULL|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia|    NULL|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|    NULL|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia|    NULL|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia|    NULL|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|    NULL|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|    NULL|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|    NULL|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia|    NULL|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia|    NULL|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia|    NULL|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|    NULL|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|    NULL|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|    NULL|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import year,month,date_format

In [0]:
customers2_df = customers2_df.withColumns({'year': year('Birthday'),'month':month('Birthday'),'week_name':date_format('Birthday','EEEE')})

In [0]:
customers2_df.show()

+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+----+-----+---------+
|Customer_id|Gender|             Name|          City|State Code|             State|Zip Code|  Country|Continent|Birthday|year|month|week_name|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+----+-----+---------+
|        301|Female|    Lilly Harding|WANDEARAH EAST|        SA|   South Australia|    5523|Australia|Australia|    NULL|NULL| NULL|     NULL|
|        325|Female|     Madison Hull|    MOUNT BUDD|        WA| Western Australia|    6522|Australia|Australia|    NULL|NULL| NULL|     NULL|
|        554|Female|    Claire Ferres|     WINJALLOK|       VIC|          Victoria|    3380|Australia|Australia|    NULL|NULL| NULL|     NULL|
|        786|  Male|Jai Poltpalingada|  MIDDLE RIVER|        SA|   South Australia|    5223|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1042|  Male|  Aidan Pankhurst| TAWONGA SOUTH|       VIC|          Victoria|    3698|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1086|  Male|     Hayden Clegg|      TEMPLERS|        SA|   South Australia|    5371|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1133|  Male|  Nicholas Caffyn|JUBILEE POCKET|       QLD|        Queensland|    4802|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1256|  Male|    Lincoln Jenks|      KULLOGUM|       QLD|        Queensland|    4660|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1314|  Male|     Isaac Israel|   EDITH RIVER|        NT|Northern Territory|     852|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1568|  Male|      Luke Virtue|         KOTTA|       VIC|          Victoria|    3565|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1585|Female|   Anna Hallstrom|    GREEN LAKE|       VIC|          Victoria|    3401|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1626|Female|       Mary Leach|   NEDS CORNER|       VIC|          Victoria|    3496|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1642|Female|     Ruby Ambrose|         TARLO|       NSW|   New South Wales|    2580|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1677|  Male|       Dean Innes|     ELLESMERE|       QLD|        Queensland|    4610|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1817|Female|Laura Le Rennetel|     BEAUCHAMP|       VIC|          Victoria|    3579|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1863|Female|  Chelsea Watkins|    NAMBOUR DC|       QLD|        Queensland|    4560|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       1945|  Male|Angus Beaurepaire|   GREENFIELDS|        WA| Western Australia|    6210|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       2238|Female| Isabelle Cochran|     BRUCKNELL|       VIC|          Victoria|    3268|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       2248|  Male|      Rory Spargo|          JUNG|       VIC|          Victoria|    3401|Australia|Australia|    NULL|NULL| NULL|     NULL|
|       2435|Female|      Lilian Hall|    BLAKEBROOK|       NSW|   New South Wales|    2480|Australia|Australia|    NULL|NULL| NULL|     NULL|
+-----------+------+-----------------+--------------+----------+------------------+--------+---------+---------+--------+----+-----+---------+
only showing top 20 rows

In [0]:
customers2_df.select('State').distinct().show()

+--------------------+
|               State|
+--------------------+
|            Manitoba|
|               Yukon|
|  Northern Territory|
|         Nova Scotia|
|     South Australia|
|   Western Australia|
|            Victoria|
|Northwest Territo...|
|Newfoundland and ...|
|             Alberta|
|             Nunavut|
|     New South Wales|
|Australian Capita...|
|       New Brunswick|
|        Saskatchewan|
|Prince Edward Island|
|             Ontario|
|    British Columbia|
|              Quebec|
|            Tasmania|
+--------------------+
only showing top 20 rows

In [0]:
customers2_df.select('State').distinct().count()

512

In [0]:
customers2_df.select('Country').distinct().show()

+--------------+
|       Country|
+--------------+
|       Germany|
|        France|
| United States|
|         Italy|
|        Canada|
|     Australia|
|United Kingdom|
|   Netherlands|
+--------------+

In [0]:
customers2_df.select('year').distinct().orderBy('year').show()

+----+
|year|
+----+
|NULL|
+----+

In [0]:
customers2_df.groupBy('year').count().show()

+----+-----+
|year|count|
+----+-----+
|1959|  243|
|1990|  221|
|1975|  217|
|1977|  247|
|1974|  212|
|1955|  235|
|1978|  217|
|1961|  251|
|1942|  212|
|1939|  212|
|1944|  216|
|1952|  212|
|1956|  235|
|1997|  218|
|1988|  213|
|1994|  219|
|1968|  264|
|1951|  241|
|1938|  217|
|1973|  222|
+----+-----+
only showing top 20 rows

In [0]:
customers2_df.groupBy('year','state').count().show(truncate=False)

+----+--------------------------+-----+
|year|state                     |count|
+----+--------------------------+-----+
|1956|Queensland                |6    |
|1956|Victoria                  |2    |
|1944|Quebec                    |6    |
|1952|Saskatchewan              |2    |
|1995|Freistaat Thringen       |2    |
|1959|Rheinland-Pfalz           |3    |
|1975|Baden-Wrttemberg         |2    |
|1984|Freistaat Thringen       |1    |
|1993|Rheinland-Pfalz           |5    |
|1990|Schleswig-Holstein        |2    |
|1999|Rheinland-Pfalz           |2    |
|1961|Hamburg                   |1    |
|1982|Nordrhein-Westfalen       |1    |
|1998|Niedersachsen             |1    |
|1960|Provence-Alpes-Cte d'Azur|2    |
|1941|Centre                    |1    |
|1950|Nord-Pas-de-Calais        |1    |
|1980|Novara                    |1    |
|1955|Siena                     |2    |
|1976|Napoli                    |1    |
+----+--------------------------+-----+
only showing top 20 rows